profiles {

  // Profile for running on HPC using environment modules
  hpc_modules {

    // Run tasks locally for now (simpler while learning)
    process.executor = 'local'

    // Load BLAST inside every task
    process.beforeScript = '''
      source /etc/profile.d/modules.sh
      module load blast-plus
    '''
  }

  // Plain local profile (no modules)
  local {
    process.executor = 'local'
  }
}
